.footer-main-container{
  position: relative;
  bottom: 0;
  /* top: 425px; */
  min-height: 305px;
  min-width: 100%;
  background-color: #0F54CA;
  }
.footer-min{
  max-width: 1141px;
  min-height: 258px;
 margin: auto;
 display: flex;
 justify-content: space-between;
 color: #FFFFFF;
 gap: 40px;
}
.ul-footer{
  list-style: none;
}
.slide{
  min-height: 310px;
  min-width: 100%;
 
}
.your-flight{
 position: absolute;
  top: 235px;
  left: 430px;
  font-size: 48px;
  color: #FFFFFF;
}