.container-home{
  overflow: hidden;
}
#home-div{
  margin-top: 10px;
  display: inline-block;
  justify-content: center;
}
#home-image{
  width: 98%;
  position: absolute;
}
#home-p1{
  color: white;
  position: relative;
  top: -10px;
  font-weight: 700;
  font-size: 48px;

}
.container-main{
  /* position: relative;
  left: 358px; */
  width: 754px;
  height: 58px;
  margin: auto;
  font-size: 20px;
  background-color:#171818;
  font-weight: 500;
 border-radius: 39px;
  display: flex;
 align-items: center;
 overflow: hidden;
}
.container-menu{
  padding: 0 20px;
}

.hotel-home{
  background-color: #FFFFFF;
  color: #171818;
  padding: 5px;
  border-radius: 43px;
}
.container-img{
  display: flex;
  justify-content: space-between;
  /* position: relative;
  top: 25px;
  left: 358px; */
  margin: auto;
  margin-top: 25px;
  width: 770px;
  height: 125px;
  gap: 10px;
  font-size: 15px;
}
.img-card{
  height: 100%;
  width: 130px;
  /* border: 1px solid grey; */
  border-radius: 15px;
  padding: 3px;
  background-color: #FFFFFF;
  text-align: center;
  line-height: 41px;
  font-weight: 500;
  cursor: pointer;
}

.mid-container{
  max-width: 1183px;
  margin: auto;
  margin-top: 80px;
  height: 92px;
  border-radius: 8px;
  position: relative;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  gap: 20px;
  background-color: #F5B561;
  overflow: hidden;
}
.mid-div{
  height: 71px;
  min-width: 190px;
  background-color: #FFFFFF;
  border-radius: 10px;

}
.container-cards{
 min-height: 500px;
  max-width: 1190px;
  margin: auto;
  position: relative;
  margin-top: 40px;
  overflow: hidden;
}

.new-user{
  font-size: 24px;
  font-weight: 500;
}
#cards-row{
  gap: 40px;
}
.cards-me{
  border-radius: 20px;
  width: 93%;
  /* border: 2px solid grey; */
  cursor: pointer;
}
.get-the-yatra{
  min-height: 250px;
 
  margin-top: 40px;
  background-color: #396dc8;
  color: #FFFFFF;
  padding-left: 60px;
  overflow: hidden;
}
.get-the-yatra-text{
  padding-left: 110px !important;
  width: 40%;
}
.get-the-yatra-image{
  padding-left: 20px;
  height: 100%; 
  width: 60%;
 }
.app-only-deals{
  height: 25px;
  width: 274px;
  display: flex;
  border-radius: 17px;
  background-color: #182FFF;
  color: #FFFFFF;
  font-size: 11px;
  justify-content: space-around;
  align-items: center;

}
.qrcode-text{
  font-size: 11px;
}
.vertical-line{
  height: 76px;
  width: 2px;
  background-color: #FFFFFF;
}
.recomandation{
  max-height: 318px;
  max-width: 1132px;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  margin: auto;
}
.list-recomandation{
  list-style: none;
}
.yatra-menu{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border: 1px solid black;
}
.recomandation-child{
  width: 18%;
  height: 150px;
  
}


@media (max-width: 854px) {
    #home-p1{
      font-size: 35px;
    }
   .container-main{
      max-width: 520px;
      max-height: 300px;
    margin-top: 0px !important;
    flex-wrap: wrap !important;
   }
   .container-menu{
    padding: 0 0;
   }
   .container-img{
    max-width: 520px;
    margin-top: 0px !important;
   }
   .yatra-menu{
    flex-wrap: wrap;
    min-height: 600px;
    margin-bottom: 30px;
   }
   .get-the-yatra{
    justify-content: center;
    min-height: 400px;
    flex-direction: column-reverse;
    padding: 10px;
   }
 .get-the-yatra-image{
  padding: 20px;
  width: 100%;
 }
 .get-the-yatra-text{
   width: 100%;
   padding: 0;
}
#cards-row{
  flex-wrap: wrap;
  text-align: center;
  gap: 20px;
  align-items: center;
  justify-content: center;

}
.mid-container{
  flex-wrap: wrap;
  min-height: 170px;
  width: 700px;
  align-items: center;
  margin-top: 30px;
  /* justify-content: space-between; */
  gap: 10px;
}
.container-cards{
  text-align: center;
  margin: 0 20px;
}
.cards-me{
  width: 45%;
  margin: 0 10px;
}
.recomandation {
 text-align: center;
}
.yatra-menu{
  flex-wrap: wrap;

}
}