.Hotel-home-booking-container{
  height: 305px;
  width: 100%;
  background-color: #0f54ca;
  position: relative;
}
.your-Trip-text{
     text-align: center;
  color: #ffffff;
  font-size: 48px;
}
.back-btn-Hotel_home_booking{
    width: 124px;
    height: 49px;
    border-radius: 15px !important;
    font-size: 24px !important;
    cursor: pointer;
    margin-top: 60px;
    margin-left: 40px;
}
.slide-Hotel-home-booking{
  height: 180px;
  width: 1136px;
  margin: auto;
  border: 2px solid gray;
  border-radius: 13px;
  position: relative;
  bottom: 90px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
}
.text-Hotel-home-booking{
   max-width: 194px;
   padding-left: 20px;
   padding-right: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
    height: 60px;
    background-color: #5283D8;
    font-size: 24px;
    color: white;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
    margin-left: 30px;
    cursor: pointer;
    
}
#Hotel-home-booking-component{
    background-color: #1CC7CF;
}
.container-form{
    margin: auto;
    width: 800px;
    height: 500px;
    position: relative;
    bottom: 40px;
}
.label-booking{
    font-size: 20px;
}
.name-booking{
    height: 34px;
    width: 695px;
    border-radius: 5px;
    margin-left: 20px;
}
.From-booking{
   height: 34px;
    width: 286px;
    border-radius: 5px;
    margin-left: 20px; 
}
.trevel-booking{
    height: 34px;
    width: 636px;
    border-radius: 5px;
    margin-left: 20px;
}
.date-booking{
     height: 34px;
    width: 236px;
    border-radius: 5px;
    margin-left: 20px;
}
.book-btn-Hotel_home_booking{
    width: 192px;
    height: 48px;
    border-radius: 15px !important;
    background-color: #1CC7CF !important;
    color: black !important;
    border-color:  #1CC7CF !important;
    margin-top: 40px;
    margin-left: 300px;
}

.book-image-container{
    width: 100%;
    max-height: 250px;
    background-color: #B2A2E2;
    color: #FFFFFF;
}
.book-image{
    max-width: 900px;
    max-height: 250px;
  }